<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped" border="1">
            <thead>
            <tr>
                <th>#</th>
                <th>상품명</th>
                <th>입고날짜</th>
                <th>출고날짜</th>
                <th>가격</th>
                <th>재고수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${#temporals.format(item.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(item.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.count}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>