<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <a href="/"><h3 class="text-muted">Inventory</h3></a>
    <a href="/login"><p class="text-muted">로그인</p></a>
    <a href="/members/new"><p class="text-muted">회원가입</p></a>
    <a href="/inventory/new"><p class="text-muted">재고 생성</p></a>
    <a href="/inventory/List"><p class="text-muted">리스트 확인</p></a>

</div> <!-- /container -->
</body>
</html>