<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <table border="1">
        <tr>
            <td>
                <a href="/joinForm"><p>회원가입</p></a>
            </td>
            <td>
                <a href="/loginForm"><p>로그인</p></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/item/new"><p>재고등록</p></a>
            </td>
            <td>
                <a href="/item/findAll"><p>재고목록</p></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/order/orderList"><p>주문내역</p></a>
            </td>
            <td>
                <a href="/admin/orderList"><p>발주관리(관리자)</p></a>
            </td>
        </tr>
    </table>
</div> <!-- /container -->

</body>
</html>